.contentBlack {
  background-color: #000;
  color: #fff;
}

.covert-content {
  height: calc(100vh - 153px);
  padding-top: 75px;
}

.covert-content-box-no {
  width: 100%;
  background: #222222;
  border-radius: 18px;
  height: 385px;
  padding: 0 100px;
  > h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
  }

  > div {
    width: 100%;
    height: 188px;
    background: #000000;
    border-radius: 18px;
    border: 2px solid #FFFFFF;
    > button {
      width: 260px;
      height: 80px;
      border-radius: 18px;
      background-color: #FFFFFF;
      color: #000;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      border: 0 !important;
    }
    >p{
      font-size: 13px;
      letter-spacing: 1px;
      color: #878787;
      line-height: 1;
      >a{
        color: #878787;
        text-decoration: underline;
        &:hover{
          color: #FFFFFF;
        }
      }
    }
  }
}

.covert-content-box {
  width: 100%;
  background: #222222;
  border-radius: 18px;

  .covert-content-box-title {
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;

    > h3 {
      font-size: 26px;
      font-weight: bold;
      line-height: 1;
      >span{
        margin-top: 23px;
        display: block;
        font-size: 16px;
        >em{
          font-weight: normal;
          font-style: normal;
        }
      }
    }

    > button {
      width: 180px;
      height: 60px;
      border-radius: 10px;
      background-color: #FFFFFF;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid #bfbfbf !important;
      >img{
        width: 25px;
        margin-right: 15px;
      }
    }
  }

  > ul {
    width: 100%;

    > li {
      position: relative;
      //height: 80px;
      background-color: #FFFFFF;
      .covert-content-box-ul-li-content {
        position: relative;
        width: 100%;
        //height: 100%;
        z-index: 1;
        padding: 20px 30px;
        display: flex;
        align-items: center;

        .covert-content-box-ul-li-thumbnail {
          width: 40px;
          margin-right: 25px;
        }

        .covert-content-box-ul-div {
          flex: 1;

          h4 {
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            line-height: 1;
            width: 331px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 20px;
          }

          p {
            font-size: 12px;
            color: var(--page-text-808080);
            line-height: 1;
            padding-top: 10px;
          }
        }

        .covert-content-box-ul-div-to{
          width: 190px;
          font-size: 14px;
          color: var(--page-text-808080);
          display: flex;
          align-items: center;
          .covert-content-box-ul-div-select{
            margin-left: 15px;
            width: 80px;
            height: 34px;
            border-radius: 6px;
            border: 1px solid var(--page-text-808080);

          }
        }
        .covert-content-box-ul-div-res{
          width: 160px;
          color: var(--page-text-808080);
          font-size: 14px;
        }

        .covert-content-box-ul-div-options{
          width: 180px;
          display: flex;
          justify-content: center;
          .covert-content-box-ul-div-num{
            font-size: 14px;
            font-weight: bold;
            color: var(--page-text-000);
            line-height: 1;
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-right: 15px;
            >span{
              font-size: 12px;
              font-weight: normal;
              margin-top: 9px;
            }
          }
          > button {
            width: 90px;
            height: 34px;
            background-color: #323232;
            border-radius: 6px;
            font-size: 12px;
            font-weight: bold;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 0 !important;
            >img{
              width: 15px;
              margin-right: 18px;
            }
          }
        }


        .covert-content-box-ul-li-close {
          width: 14px;
          cursor: pointer;
        }
      }

      .covert-content-box-ul-li-compresses {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        overflow: hidden;
        > span {
          width: 0;
          height: 100%;
          display: block;
          background-color: #808080;
          transition: width 0.5s ease-in-out;
        }
      }

      .covert-content-box-ul-li-conversions {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        //background: linear-gradient(to right, #ffffff, #e5ebfd);
        // 从百分之50位置到100%位置的渐变
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #e5ebfd 100%);
        transition: width 0.5s ease-in-out;
      }
    }
  }

  #covert-content-box-drop_file {
    width: 100%;
    height: 300px;
  }

  .covert-content-box-footer {
    width: 100%;
    height: 120px;
  }

  .covert-content-box-footer-div {
    flex: 1;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    position: relative;

    .covert-content-box-footer-add {
      width: 180px;
      height: 50px;
      border: var(--border-2);
      border-radius: 10px;
      background-color: #222222;
      font-size: 16px;
      color: var(--page-text-FFF);
      line-height: 45px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      >img{
        width: 15px;
        margin-right: 18px;
      }
    }
    .covert-content-box-footer-div-share{
      display: flex;
      >img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
        opacity: 0.5;
      }
    }
    .covert-content-box-footer-div-all{
      position: absolute;
      top: 14px;
      left: 426px;
      .ConversionsPicker-custom{
        display: flex;
        align-items: center;
        line-height: 1;
        cursor: pointer;
        >span{
          opacity: 0.5;
        }
        >img{
          width: 13px;
          margin-left: 14px;
        }
      }
    }
    .covert-content-box-footer-div-switch{
      position: absolute;
      top: 14px;
      left: 587px;
      display: flex;
      align-items: center;
      line-height: 1;
      cursor: pointer;
      >span{
        opacity: 0.5;
      }
      .arco-switch{
        width: 32px !important;
        min-width: 32px !important;
        height: 16px;
        margin-right: 14px;
      }
      .arco-switch-dot {
        width: 12px;
        height: 12px;
        top: 2px;
        left: 2px;
        background-color: #c5c5c5;
        border: 2px solid #FFFFFF;
      }
      .arco-switch-checked {
        background-color: #000000;
        .arco-switch-dot {
          left: calc(100% - 12px - 2px);
        }
      }
    }
  }

  .covert-content-box-footer-submit {
    width: 210px;
    font-size: 36px;
    font-weight: bold;
    line-height: 120px;
    border: 0;
    background-color: var(--page-modal-close);
    color: var(--page-text-FFF);
    border-bottom-right-radius: 18px;
  }
}

.ConversionsPicker-btn{
  .arco-popover-content{
    border: 0;
  }
  .arco-popover-arrow.arco-trigger-arrow{
    display: none;
    //background-color: #1a1a1a;
    //border: 1px solid #1a1a1a;
  }
}
.ConversionsPicker-btn-btn{
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent ;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  >span{
    color: #808080;
    font-size: 20px;
    font-weight: normal;
  }
  >img{
    margin-left: 15px;
  }
}
.ConversionsPicker{
  width: 340px;
  height: 290px;
  background-color: #1a1a1a;
  padding-left: 20px;
  ul{
    overflow-y: scroll;
    /* 针对整个滚动条 */
    &::-webkit-scrollbar {
      width: 5px; /* 滚动条的宽度 */
      height: 5px; /* 对于垂直滚动条，这是滚动条的高度 */
    }
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      background: #4c4c4c; /* 滑块的颜色 */
      border-radius: 2px; /* 滑块的圆角 */
    }
    /* 滚动条轨道 */
    &::-webkit-scrollbar-track {
      background: #1a1a1a; /* 轨道的颜色 */
      border-radius: 2px; /* 轨道的圆角 */
    }
    /* 当鼠标悬停在滑块上时 */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* 滑块悬停时的颜色 */
    }
  }
  .arco-tabs-header-nav{
    padding-top: 12px;
  }
  .arco-tabs-content-vertical{
    padding-left: 0;
  }
  .arco-tabs-header-ink{
    display: none;
  }
  .arco-tabs-header-nav-vertical::before{
    display: none;
  }
  .arco-tabs-header-title{
    color: #FFFFFF;
    opacity: 0.5;
    width: 55px;
    height: 40px;
    padding: 0 !important;
    font-size: 14px;
    margin-top: 0 !important;
  }
  .arco-tabs-header-title-active,
  .arco-tabs-header-title-active:hover{
    color: #FFFFFF;
    opacity: 1;
  }
  .arco-tabs-header-title:hover{
    opacity: 1;
  }
  .arco-tabs-header-nav-line .arco-tabs-header-title:hover .arco-tabs-header-title-text::before{
    background-color: transparent;
    color: #FFFFFF;
  }
  .arco-tabs-header-title-text{
    border-bottom: 1px solid rgba(77,77,77, 0.5);
    opacity: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .arco-tabs-header-title-active .arco-tabs-header-title-text,
  .arco-tabs-header-title-active:hover .arco-tabs-header-title-text{
    border-bottom: 1px solid rgba(77,77,77, 1);
  }
  .ConversionsPicker-mask{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .ConversionsPicker-search{
    padding-top: 8px;
    padding-right: 20px;
    position: relative;
    //>img{
    //  width: 14px;
    //}
    >input{
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #4d4d4d;
      width: 100%;
      height: 40px;
      padding-left: 26px;
      caret-color: #ffffff; // 插入光标的颜色
      color: #ffffff;
      &::placeholder{
        color: #808080;
      }
    }
    .ConversionsPicker-search-close{
      position: absolute;
      top: 8px;
      right: 20px;
      width: 14px;
      height: 40px;
      cursor: pointer;
    }
  }
  .ConversionsPicker-search-result{
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    height: 232px;
    >li{
      width: calc((100% - 30px) / 3);
      height: 30px;
      background-color: #333333;
      color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
  .ConversionsPicker-options-default{
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    padding: 20px calc((100% - 220px) / 2) 10px; // 220px是ul的宽度
    height: 242px;
    li{
      width: calc((100% - 30px) / 3);
      height: 30px;
      background-color: #333333;
      color: #fff;
      margin-bottom: 15px;
      margin-right: 15px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
}