

.contentBlack141414 {
  background-color: #141414;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  height: 85px;
  position: relative;
  > a:first-child {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;

    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    > img {
      width: 40px;
      margin-right: 15px;
    }
    margin-right: 58px;
  }
  > ul {
    height: 100%;
    flex: 1;
    list-style: none;
    margin: 0;
    display: flex;

    font-size: 18px;
    font-weight: bold;
    > li {
      cursor: pointer;
      height: 100%;
      margin-right: 50px;
      display: flex;
      align-items: center;
      >img{
        width: 12px;
        margin-left: 8px;
      }
      &:hover {
        color: rgba(255, 255, 255, 0.6);
        img{
          opacity: 0.6;
        }
      }
      &:hover div{
        visibility: visible;
        opacity: 1;
      }
      >div{
        transition: all 0.8s ease;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 85px;
        width: 100%;
        z-index: 1;
        height: 65px;
        background-color: rgba(33, 33, 33, 0.8);
        //background-color: red;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-left: 240px;
        display: flex;
        visibility: hidden;
        &:hover a{
          background-color: transparent !important;
        }
        >a{
          height: 100%;
          border-radius: 50px;
          width: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          font-weight: normal;
          text-decoration: none;
          font-size: 20px;
          &.on{
            background-color: rgba(255, 255, 255, 0.15);
          }
          &:hover{
            background-color: rgba(255, 255, 255, 0.15) !important;
          }
        }
      }
    }
  }
  >div:last-child {
    display: flex;
    align-items: center;
    >div{
      margin-right: 20px;
      position: relative;
      >img{
        width: 28px;
      }
      >span{
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        font-size: 10px;
        text-align: center;
      }
      cursor: pointer;
    }
  }
}

button.homeButton {
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: transparent;
  width: 70px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    color: #000000;
    background-color: #FFFFFF;
  }
}

.contentBlack {
  background-color: #000;
  color: #fff;
}

.contentBanner {
  position: relative;
  height: 400px;
  overflow: hidden;
  >img{
    display: block;
  }
  >div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 39px;
    align-items: flex-start !important;

    > h3 {
      letter-spacing: 2px;
      > b {
        line-height: 1;
        font-size: 45px;
      }
      line-height: 1;
      font-size: 28px;
      font-weight: bold;
    }

    > p {
      line-height: 1;
      font-size: 13px;
      color: #C9C9C9;
      letter-spacing: 4px;
    }

    > button {
      margin-left: 29px;
      border: 2px solid #fff;
      border-radius: 12px;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      width: 90px;
      height: 55px;
      cursor: pointer;
      font-weight: bold;
      &:hover{
        color: #000000;
        background-color: #FFFFFF;
      }
    }
  }
}

.contentCovert {
  height: 528px;
  padding: 73px 160px 70px;
  > div {
    width: 100%;
    background: #222222;
    border-radius: 18px;
    height: 385px;
    padding: 0 100px;
    > h3 {
      font-size: 28px;
      font-weight: bold;
      line-height: 1;
    }

    > div {
      width: 100%;
      height: 188px;
      background: #000000;
      border-radius: 18px;
      border: 2px solid #FFFFFF;
      > button {
        width: 260px;
        height: 80px;
        border-radius: 18px;
        background-color: #FFFFFF;
        color: #000;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        border: 0 !important;
      }
      >p{
        font-size: 13px;
        letter-spacing: 1px;
        color: #878787;
        line-height: 1;
        >a{
          color: #878787;
          text-decoration: underline;
          &:hover{
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.contentGrey {
  background-color: #F9F9F9;
  color: #000;
}
.contentIntro {
  > h3 {
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
  }

  > p {
    line-height: 1;
    font-size: 18px;
    color: var(--page-text-404040);
    text-align: center;
    letter-spacing: 1px;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    > li {
      width: calc((100% - 80px) / 2);
      height: 280px;
      margin-right: 80px;
      margin-bottom: 70px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      >div{
        height: 100%;
        background: #FFFFFF;
        box-shadow: 4px 0 25px 0 rgba(0, 0, 0, .1);
        border-radius: 18px;
        > div {
          display: flex;
          justify-content: space-between;
          align-items: start;
          font-weight: bold;
          height: 129px;
          > img {
            width: 90px;
            margin-top: 41px;
            margin-left: 56px;
            display: block;
          }
          >span{
            padding-top: 72px;
            line-height: 1;
            font-size: 25px;
            margin-right: 41px;
          }
        }
        >p{
          padding: 0 41px 0;
          font-size: 16px;
          color: var(--page-text-323232);
          letter-spacing: 1px;
        }
        cursor: pointer;
        &:hover{
          background-color: #f5fbff;
        }
      }
    }
  }
}

.contentShowImage {
  width: 1000px;
  margin: auto;
  > h3 {
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
  }
  >p{
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
    color: var(--page-text-404040);
  }
  >div{
    position: relative;

    >span{
      position: absolute;
      z-index: 1;
      font-size: 28px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 1;
      text-align: center;
      >em{
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin-top: 10px;
      }
    }
    >span:nth-child(2){
      top: 35px;
      left: 45px;
    }
    >span:nth-child(3){
      bottom: 35px;
      right: 45px;
    }
  }

}

.contentOptimize {
  width: 1280px;
  margin: auto;
  border-radius: 40px;
  background: #222222;
  > div {
    >p{
      font-size: 18px;
      line-height: 1;
      letter-spacing: 2px;
    }
    > h3 {
      font-size: 32px;
      line-height: 1;
      font-weight: bold;
    }
    > div {
      display: flex;
      align-items: center;
      height: 60px;
      >label{
        width: 640px;
        flex: 1;
        height: 100%;
        display: flex;
        position: relative;
        >img{
          width: 30px;
          position: absolute;
          top: 15px;
          left: 22px;
          opacity: 0.35;
        }
        >input{
          width: 100%;
          height: 100%;
          padding-left: 80px;
          font-size: 18px;
          outline: none;
          border: 0;
          border-radius: 16px;
          &::placeholder {
            font-size: 18px;
          }
        }
      }
      > button {
        width: 140px;
        height: 100%;
        border-radius: 16px;
        border: 2px solid #FFFFFF;
        background-color: #000000;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          background-color: #FFFFFF;
          color: #000000;
        }
      }
    }
  }
}

.contentFAQ {
  width: 1280px;
  margin: auto;
  align-items: start !important;
  > h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
  }
  > h4 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    >img{
      margin-left: 10px;
      width: 16px;
    }
  }
}

.contentBlack222 {
  background-color: #222222;
  color: #fff;
  max-width: max-content;
  max-height: max-content;
}

.contentCount {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  >li{
    //flex: 1 !important;
    font-size: 18px;
    line-height: 1;
    color: #727272;
    span{
      font-size: 25px;
      color: #FFFFFF;
      margin: 0 8px;
    }
  }
}
